web/WEB-INF/wsdl/localhost_8080/CasosDeUsoWS/CasosDeUsoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rest.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rest.example.com/" name="CasosDeUsoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://rest.example.com/" schemaLocation="http://localhost:8080/CasosDeUsoWS/CasosDeUsoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getUtFacade">
<part name="parameters" element="tns:getUtFacade"/>
</message>
<message name="getUtFacadeResponse">
<part name="parameters" element="tns:getUtFacadeResponse"/>
</message>
<message name="setUtFacade">
<part name="parameters" element="tns:setUtFacade"/>
</message>
<message name="setUtFacadeResponse">
<part name="parameters" element="tns:setUtFacadeResponse"/>
</message>
<message name="getImgFacade">
<part name="parameters" element="tns:getImgFacade"/>
</message>
<message name="getImgFacadeResponse">
<part name="parameters" element="tns:getImgFacadeResponse"/>
</message>
<message name="setImgFacade">
<part name="parameters" element="tns:setImgFacade"/>
</message>
<message name="setImgFacadeResponse">
<part name="parameters" element="tns:setImgFacadeResponse"/>
</message>
<message name="getImagenes">
<part name="parameters" element="tns:getImagenes"/>
</message>
<message name="getImagenesResponse">
<part name="parameters" element="tns:getImagenesResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="getUsuarioId">
<part name="parameters" element="tns:getUsuarioId"/>
</message>
<message name="getUsuarioIdResponse">
<part name="parameters" element="tns:getUsuarioIdResponse"/>
</message>
<portType name="CasosDeUsoWS">
<operation name="getUtFacade">
<input wsam:Action="http://rest.example.com/CasosDeUsoWS/getUtFacadeRequest" message="tns:getUtFacade"/>
<output wsam:Action="http://rest.example.com/CasosDeUsoWS/getUtFacadeResponse" message="tns:getUtFacadeResponse"/>
</operation>
<operation name="setUtFacade">
<input wsam:Action="http://rest.example.com/CasosDeUsoWS/setUtFacadeRequest" message="tns:setUtFacade"/>
<output wsam:Action="http://rest.example.com/CasosDeUsoWS/setUtFacadeResponse" message="tns:setUtFacadeResponse"/>
</operation>
<operation name="getImgFacade">
<input wsam:Action="http://rest.example.com/CasosDeUsoWS/getImgFacadeRequest" message="tns:getImgFacade"/>
<output wsam:Action="http://rest.example.com/CasosDeUsoWS/getImgFacadeResponse" message="tns:getImgFacadeResponse"/>
</operation>
<operation name="setImgFacade">
<input wsam:Action="http://rest.example.com/CasosDeUsoWS/setImgFacadeRequest" message="tns:setImgFacade"/>
<output wsam:Action="http://rest.example.com/CasosDeUsoWS/setImgFacadeResponse" message="tns:setImgFacadeResponse"/>
</operation>
<operation name="getImagenes">
<input wsam:Action="http://rest.example.com/CasosDeUsoWS/getImagenesRequest" message="tns:getImagenes"/>
<output wsam:Action="http://rest.example.com/CasosDeUsoWS/getImagenesResponse" message="tns:getImagenesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://rest.example.com/CasosDeUsoWS/getImagenes/Fault/IOException"/>
</operation>
<operation name="getUsuarioId">
<input wsam:Action="http://rest.example.com/CasosDeUsoWS/getUsuarioIdRequest" message="tns:getUsuarioId"/>
<output wsam:Action="http://rest.example.com/CasosDeUsoWS/getUsuarioIdResponse" message="tns:getUsuarioIdResponse"/>
</operation>
</portType>
<binding name="CasosDeUsoWSPortBinding" type="tns:CasosDeUsoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUtFacade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setUtFacade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImgFacade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setImgFacade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImagenes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="getUsuarioId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CasosDeUsoWS">
<port name="CasosDeUsoWSPort" binding="tns:CasosDeUsoWSPortBinding">
<soap:address location="http://localhost:8080/CasosDeUsoWS/CasosDeUsoWS"/>
</port>
</service>
</definitions>